.newsitem-item {
  display: flex;
  width: 27%;
  flex-direction: row;
  font-family: Calibri, Verdana, sans-serif;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 5px;
}

.newsitem-cover {
  margin-right: 10px;
}

.newsitem-data {
  text-align: left;
}